<div class="">
  <h2 class="section-header">
    Frequently Asked Questions
  </h2>
  {{#each this}}
    <details open class="mb-8">
      <summary class="text-lg font-bold">
        {{question}}
      </summary>
      <div>
        {{answer}}
      </div>
    </details>
  {{/each}}
</div>