<h4 class="text-left mb-4">Storage Facility Features:</h4>
<div class="grid grid-cols-2 gap-3 overflow-hidden">
  {{#each this}}
    <div class="text-left">
      <strong>&#10003;</strong> {{formatOption this}}
    </div>
  {{/each}}
</div>