<h3>Storage Facility Features</h3>
<div class="text-left grid sm:grid-cols-2 sm:gap-x-3 ">
  {{#each this}}
    <div class="grid grid-cols-7">
      <strong class="col-span-1">&#10003;</strong>
      <span class="col-span-6">{{formatOption this}}</span>
    </div>
  {{/each}}
</div>