<h4 class="text-center mb-4">Storage Facility Features</h4>
<div class="grid grid-cols-2 gap-4 overflow-hidden">
  {{#each this}}
    <div class="text-left">
      {{replace this "_" " "}}
    </div>
  {{/each}}
</div>