<h4 class="text-left">Storage Facility Features:</h4>
<div class="text-left md:grid grid-cols-2 gap-x-4 gap-y-3 overflow-hidden">
  {{#each this}}
    <div class="">
      <strong>&#10003;</strong> {{formatOption this}}
    </div>
  {{/each}}
</div>