<h4 class="text-left">Storage Facility Features:</h4>
<div class="text-left grid sm:grid-cols-2 sm:gap-x-3 sm:gap-y-2">
  {{#each this}}
    <div class="grid grid-cols-7">
      <strong class="col-span-1">&#10003;</strong>
      <span class="col-span-6">{{formatOption this}}</span>
    </div>
  {{/each}}
</div>