<div class="text-center py-10">
    <div>
        <h1 class="text-4xl mb-3 font-extrabold text-ll-blue">
            Find Storage by NYC Neighborhood
        </h1>
    </div>
    <div class="grid text-ll-red mt-8 gap-y-5 md:grid-cols-2">
        <div>
            <h2 class="mb-7">------ Brooklyn ------</h2>
            <ul class="grid font-bold gap-y-3 md:grid-cols-2">
                <li><a href="#">Williamsburg</a></li>
                <li><a href="#">Greenpoint</a></li>
                <li><a href="#">Park Slope</a></li>
                <li><a href="#">Fort Green</a></li>
                <li><a href="#">Brooklyn Heights</a></li>
                <li><a href="#">Flatbush</a></li>
            </ul>
        </div>
        <div>
            <h2 class="mb-7">------ Manhattan ------</h2>
            <ul class="grid font-bold gap-y-3 md:grid-cols-2">
                <li><a href="#">Upper East Side</a></li>
                <li><a href="#">Harlem</a></li>
                <li><a href="#">Hell's Kitchen</a></li>
                <li><a href="#">Upper West Side</a></li>
                <li><a href="#">East Village</a></li>
                <li><a href="#">Soho</a></li>
            </ul>
        </div>
    </div>


</div>