<div class="py-10 grid gap-y-5 flex-none lg:grid-cols-2 xl:justify-around">

    <div class="grid grid-cols-2 lg:gap-x-5">
    
        <div class="logo">
            <a href="https://localocker.com/">
                <img
                class=""
                src="images/localocker-logo.svg"
                alt="Locker Main Logo"
                />
            </a>
        </div>

        <div>
            <div class="grid gap-y-2 lg:grid-cols-2">
                <div>
                    <div>
                        <a href="https://localocker.com/faq/"  class="hover:text-ll-red">FAQ's</a>
                    </div>
                    <div>
                        <a href="https://localocker.com/terms/" class="hover:text-ll-red">Terms</a>
                    </div>
                    <div>
                        <a href="https://localocker.com/privacy/" class="hover:text-ll-red">Privacy</a>
                    </div>
                </div>

                <div class="logos mt-2 flex space-x-3">
                    <a href="https://ndlr.cc/huGgl58uJ" target="_blank" rel="noopener noreferrer" class="mr-2">
                        <img src="images/ll-facebook-logo.svg">
                    </a>
                    <a href="https://www.instagram.com/mylocalocker/" target="_blank"
                        rel="noopener noreferrer">
                        <img src="images/ll-instagram-logo.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
        

    <div class="">
        <div class="email font-semibold">
            <a href="mailto:reserve@localocker.com">reserve@localocker.com</a>
        </div>
        <div class="telephones flex flex-col">
            {{!-- <a href="tel:+1 (646) 713-0937"><i>(646) 713-0937 <sub>(Call or Text)</sub></i></a> --}}
            {{#if mainPhone}}
              <a href='{{phoneNumber "US" mainPhone "RFC3966"}}' class="flex items-center p-4 hover:underline">
                <div class="mr-2">{{> icon-phone}}</div>
                  <div><i><span>(Call or Text)</span> </i>{{phoneNumber "US" mainPhone "NATIONAL"}}</div>
              </a>
            {{else}}
              <a href="tel:+1 (646) 713-0937" class="flex items-center p-4 hover:underline">
                <div class="mr-2">{{> icon-phone}}</div>
                <div><i><span>(Call or Text)</span> </i>(646) 713-0937</div>
              </a>
            {{/if}}
        </div>
    </div>

    <div>
        <p><strong>©2024 Local Locker</strong></p>
    </div>

</div>