<div class="pb-2 mb-6 bg-orange-700 pt-8"></div>
<div class="full-width-locator">
  <style>
    .full-width-locator {
      height: calc(100vh - 78px);
    }
  </style>
  <div class="panel">
    <div class="header-section">
        <div class="lp-param lp-param-{$customizationInstanceID}-headline header">
            <h1> Local Locker locations near you</h1>
        </div>
      <div class="directions">

      </div>
      <div class="error-text"></div>
      <div class="search-bar">
        <input type="text" class="form-control lp-param-placeholderText" id="location-input" placeholder="E.g. Lower East Side" aria-label="E.g. New York">
        <input type="submit" value="Search" class="btn btn-primary bg-red-500  text-white border-red-500 focus:ring-2 focus:bg-red-900 border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg block text-center focus:outline-none" id="search-location-button">
        <div class="btn btn-link lp-param-requestLocationText ml-auto" onclick="getUsersLocation();" role="button">
            Use my location
        </div>
      </div>
      {{!-- <div class="search-center"></div> --}}
    </div>
    <div class="spinner" style="display: none;">
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
    </div>
    <div class="result-list">
      <div class="result-list-inner">
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>
<script src="locator.js" async defer></script>
