<div class="grid space-x-10 space-y-5 lg:grid-cols-9 lg:items-start">
    <div class="space-y-12 lg:col-span-4">
        <div>
            <h1 class='text-5xl font-extrabold mb-6 text-ll-blue'> {{name}} - <span class="text-ll-red">Local Locker Storage</span></h1>
            <h3 class='text-2xl font-extrabold  text-ll-blue'> Choose the location near you and discover the convenience of self storage in [region].</h3>
        </div>
        <div class="hidden md:block">
            {{>neighborhood-carousel}}
        </div>
    </div>
    <div class="lg:col-span-5">
        <img src="https://localocker.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/elementor/thumbs/Screen-Shot-2021-06-21-at-5.03.38-PM-p90d5y1zwjuihoyqlx4mikawuerwg7xlk3zes8kmcg.jpg.webp">
    </div>
</div>
