<div class="grid px-2 md:px-10 pb-16 gap-x-10 gap-y-16 lg:grid-cols-9 lg:items-start">
    <div class="space-y-12 lg:col-span-4">
        <div>
            <div class='text-5xl font-extrabold mb-6 text-ll-blue'> {{name}} - <span class="text-ll-red">Local Locker Storage</span></div>
            <h3 class='text-xl font-extrabold  text-ll-blue'> Choose the location near you and discover the convenience of self storage in [region].</h3>
        </div>
        <div class="hidden md:block">
            {{>neighborhood-carousel}}
        </div>
    </div>
    <div class="flex justify-center items-center lg:col-span-5">
        <img src="https://localocker.com/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/elementor/thumbs/Screen-Shot-2021-06-21-at-5.03.38-PM-p90d5y1zwjuihoyqlx4mikawuerwg7xlk3zes8kmcg.jpg.webp">
    </div>
</div>
