<div class="border border-ll-light-blue rounded-lg w-full lg:w-72 px-3 py-2 flex items-center focus-within:border-white">
    {{> icon-search}}
  <input
    placeholder="Enter ZIP Code or Address"
    class="bg-transparent w-full block mx-2 focus:outline-none"
  />
  {{> icon-location-arrow}}
</div>