<form id="form" class="border border-ll-light-blue rounded-lg w-full lg:w-72 px-3 py-2 flex items-center focus-within:border-white">
  <button class="search-bar-icon" aria-label="Search bar icon">
    {{> icon-search fillColor="#fff"}}
  </button>
    <input
      type="search"
      id="query"
      name="q"
      placeholder="Enter ZIP Code or Address"
      aria-label="Search for locations using an address or zip code"
      autocomplete="off"
      class="bg-transparent w-full block mx-2 focus:outline-none"
    />
    {{!-- <div class="search-location-arrow" aria-label="Use My Location button" id="useLocation">
      {{> icon-location-arrow fillColor="#fff"}}
    </div> --}}
</form>

<script>
  const f = document.getElementById('form');
  const q = document.getElementById('query');
  const site = '/?q=';

  function submitted(event) {
    event.preventDefault();
    console.log("event just fired");
    const url = site + q.value;
    const win = window.open(url, '_self');
    win.focus();
  }

  f.addEventListener('submit', submitted);
</script>