<div>
  <img
    width="100%"
    src="https://maps.googleapis.com/maps/api/staticmap?center=
      {{latitude}}
       ,
      {{longitude}}
       &zoom=16&size=600x400&maptype=roadmap&style=feature:landscape%7Ccolor:0x242F3E&style=feature:road%7Ccolor:0x5B5D72%7C&style=feature:poi.medical%7Cvisibility:off%7C&style=feature:poi.government%7Cvisibility:off%7C&style=feature:poi.attraction%7Cvisibility:off%7C&style=feature:poi.school%7Cvisibility:off%7C&style=feature:poi.business%7Cvisibility:off%7C&style=feature:poi.sports_complex%7Cvisibility:off%7C&style=feature:road.local%7Celement:labels.text%7Ccolor:0xffffff&style=feature:road.local%7Celement:labels.text.stroke%7Ccolor:0x000000%7Cweight:3&markers=color:red%7Clabel:LL%7C
      {{latitude}}
       ,
      {{longitude}}
       &key=AIzaSyDZNQlSlEIkFAct5VzUtsP4dSbvOr2bE18"
  />
</div>