                <table class="min-w-full divide-y divide-gray-200 table-auto">
                    <thead class="bg-gray-100">
                        <tr>
                        <th scope="col" class='px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>
                            Size
                        </th>
                        <th scope="col" class='px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>
                            Status
                        </th>
                        <th scope="col" class='px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>
                            Price
                        </th>
                        <th scope="col" class='px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>
                            Deals
                        </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr class="hover:bg-gray-100">
                            <td class="px-6 py-6 whitespace-nowrap text-2xl text-ll-blue">
                                3'w x 4'd x 7.5'h
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap  text-ll-blue uppercase">
                                <div class="text-xs font-medium tracking-wider">
                                    <div class="px-2 py-1 rounded-md border  border-green-300 bg-green-50 text-green-900 inline-block">
                                                    Available
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                $90
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                <div>
                                    <a href="#" class=" border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg block text-center focus:outline-none btn text-ll-red border-ll-red hover:bg-white focus:ring-2 focus:ring-ll-red focus:bg-red-100">
                                        Book Now
                                    </a>
 
                                </div>
                            </td>
                        </tr>
                        <tr class="hover:bg-gray-100">
                            <td class="px-6 py-6 whitespace-nowrap text-2xl text-ll-blue">
                                14 x 4 x 7
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap  text-ll-blue uppercase">
                                <div class="text-xs font-medium tracking-wider">
                                    <div class="px-2 py-1 rounded-md border  border-green-300 bg-green-50 text-green-900 inline-block">
                                        Available
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                $420
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                <div>
                                    <a href="#" class=" border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg block text-center focus:outline-none btn text-ll-red border-ll-red hover:bg-white focus:ring-2 focus:ring-ll-red focus:bg-red-100">
                                        Book Now
                                    </a>
 
                                </div>
                            </td>
                        </tr>
                        <tr class="hover:bg-gray-100">
                            <td class="px-6 py-6 whitespace-nowrap text-2xl text-ll-blue">
                                4'w x 2.5'd x 7'h	
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap  text-ll-blue uppercase">
                                <div class="text-xs font-medium tracking-wider">
                                    <div class="px-2 py-1 rounded-md border  border-green-300 bg-green-50 text-green-900 inline-block">
                                        Available
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                $115
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                <div>
                                    <a href="#" class=" border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg block text-center focus:outline-none btn text-ll-red border-ll-red hover:bg-white focus:ring-2 focus:ring-ll-red focus:bg-red-100">
                                        Book Now
                                    </a>
 
                                </div>
                            </td>
                        </tr>
                        <tr class="hover:bg-gray-100">
                            <td class="px-6 py-6 whitespace-nowrap text-2xl text-ll-blue">
                                5'w x 3'd x 7'h	
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap  text-ll-blue uppercase">
                                <div class="text-xs font-medium tracking-wider">
                                    <div class="px-2 py-1 rounded-md border  border-green-300 bg-green-50 text-green-900 inline-block">
                                    Available
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                $90
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                <div>
                                    <a href="#" class=" border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg block text-center focus:outline-none btn text-ll-red border-ll-red hover:bg-white focus:ring-2 focus:ring-ll-red focus:bg-red-100">
                                        Book Now
                                    </a>
 
                                </div>
                            </td>
                        </tr>
                        <tr class="hover:bg-gray-100">
                            <td class="px-6 py-6 whitespace-nowrap text-2xl text-ll-blue">
                                Bike Storage (Wall Hook)	
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap  text-ll-blue uppercase">
                                <div class="text-xs font-medium tracking-wider">
                                    <div class="px-2 py-1 rounded-md border  border-green-300 bg-green-50 text-green-900 inline-block">
                                    Available
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                $90
                            </td>
                            <td class="px-6 py-6 whitespace-nowrap text-sm text-ll-blue">
                                <div>
                                    <a href="#" class=" border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg block text-center focus:outline-none btn text-ll-red border-ll-red hover:bg-white focus:ring-2 focus:ring-ll-red focus:bg-red-100">
                                        Book Now
                                    </a>
 
                                </div>
                            </td>
                        </tr>                                            
                    </tbody>
                </table>

