<script src="units.js" id="units-script" data={{id}}>
</script>
<table>
  <thead>
    <tr> 
      <th>
        Unit Size
      </th>
      <th>
        Status
      </th>
      <th>
        Price
      </th>
      <th class="text-center">
        Details
      </th>
    </tr>
  </thead>
  <tbody id="units-table-body">
  </tbody>
</table>
{{> waitlist-form}}