<script src="units.js" id="units-script" data={{id}}>
</script>
<table class="table-fixed">
  <thead>
    <tr class=""> 
      <th class="w-2/6 align-baseline md:w-1/3">
        Unit Size
      </th>
      <th class="hidden md:table-cell md:w-2/9">
        Status
      </th>
      <th class="w-1/6 align-baseline md:w-1/9">
        Price
      </th>
      <th class="details-column w-2/6">
        Details
      </th>
    </tr>
  </thead>
  <tbody id="units-table-body">
  </tbody>
</table>
{{> waitlist-form}}
{{> clutter}}