<div class="text-4xl md:text-4xl mb-3 font-extrabold text-ll-blue">
    Discover the magic of an extra walk-in-closet
</div>
<div class="mt-12" style="padding-bottom:56.25%;height:0;position:relative;" align="center">
    <iframe class="px-2 md:px-12 lg:px-16" style="position:absolute;" width="100%" height="90%" src="https://www.youtube.com/embed/t_UjkE8YM_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>