<div class="px-10 py-10">
    <h2 class=>Why you should choose Local Locker</h2>
    <div class="grid px-5 py-5 text-center md:grid-cols-2 lg:grid-cols-4">
        <div class="neighborhood-feature">
            <div>
                <img class="inline-block pb-1" src="/images/contact-free-sign-up.svg" alt="">
            </div>
            <div>Contact-free sign up and onboarding</div>
        </div>
        <div class="neighborhood-feature">
            <div>
                <img class="inline-block pb-1" src="/images/security-cameras.svg" alt="">
            </div>
            <div>Security cameras</div>
        </div>
        <div class="neighborhood-feature">
            <div>
                <img class="inline-block pb-1" src="/images/keypad.svg" alt="">
            </div>
            <div>Access-control keypad</div>
        </div>
        <div class="neighborhood-feature">
            <div>
                <img class="inline-block pb-1" src="/images/online-payment.svg" alt="">
            </div>
            <div>Simple online payment</div>
        </div>
        <div class="neighborhood-feature">
            <div>
                <img class="inline-block pb-1" src="/images/insurance.svg" alt="">
            </div>
            <div>Complimentary insurance of $1,000</div>
        </div>
        <div class="neighborhood-feature">
            <div>
                <img class="inline-block pb-1" src="/images/temperature.svg" alt="">
            </div>
            <div>Temperature controlled</div>
        </div>
        <div class="neighborhood-feature">
            <div>
                <img class="inline-block pb-1" src="/images/month-to-month.svg" alt="">
            </div>
            <div>Month-to-month leases</div>
        </div>
        <div class="neighborhood-feature">
            <div>
                <img class="inline-block pb-1" src="/images/free-tours.svg" alt="">
            </div>
            <div>Free tours (contactless)</div>
        </div>
    </div>
</div>
