<div class="px-10 py-10">
    <h2 class=>Why you should choose Local Locker</h2>
    <div class="grid px-5 py-5 gap-y-5 text-center md:grid-cols-2 md:gap-x-5 lg:grid-cols-4">
        <div class="px-5 py-5">
            <div>Icon</div>
            <div>Text: Luc is a great frontend developer</div>
        </div>
        <div class="px-5 py-5">
            <div>Icon</div>
            <div>Text: Luc is a great frontend developer</div>
        </div>
        <div class="px-5 py-5">
            <div>Icon</div>
            <div>Text: Luc is a great frontend developer</div>
        </div>
        <div class="px-5 py-5">
            <div>Icon</div>
            <div>Text: Luc is a great frontend developer</div>
        </div>
        <div class="px-5 py-5">
            <div>Icon</div>
            <div>Text: Luc is a great frontend developer</div>
        </div>
        <div class="px-5 py-5">
            <div>Icon</div>
            <div>Text: Luc is a great frontend developer</div>
        </div>
        <div class="px-5 py-5">
            <div>Icon</div>
            <div>Text: Luc is a great frontend developer</div>
        </div>
        <div class="px-5 py-5">
            <div>Icon</div>
            <div>Text: Luc is a great frontend developer</div>
        </div>
    </div>
</div>