---
{
    "stream": {
        "$id": "sites-locations",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name", 
            "address", 
            "accessHours",
            "c_features",
            "frequentlyAskedQuestions",
            "mainPhone",
            "geocodedCoordinate",
            "hours" ,
            "services",
            "description", 
            "slug",
            "neighborhood",
            "photoGallery"
        ], 
        "filter" : {
            "entityTypes": [
                "location"
            ]
        }
    },
    "urlFormat": "{{slug}}"
}
---

<html>
    <head>
        {{>head }}
        <title>{{name}} - {{neighborhood}}</title>
    </head>
    <body>      
        <div class="flex min-h-screen w-full"> 
            {{>sidebar}}
            <div class="w-full">
                {{>nav}}        
                    
                    <div class="centered-container">                                              
                        {{>backtolocator}}
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 space-x-4">
                            <div class="md:col-span-1 lg:col-span-2">
                                {{> locationdetails}}                                
                            </div>
                            <div>
                                <div class="mb-4 w-full">{{>staticmap geocodedCoordinate}}</div>
                                {{!-- <div class="pb-10">{{>carousel photoGallery}}</div>                                         --}}
                                <div class="container services">{{>featurelist c_features}}</div> 
                            </div>
                        </div>
                        <div class="section">{{>nearby geocodedCoordinate}}</div>
                        <div class="section">{{>reviews}}</div> 
                        <div class="section">{{>faqs frequentlyAskedQuestions}}</div>                        
                    </div>
                </div>
            </div>
        </div>           
    </body> 
</html>