---
{
    "urlFormat" : "index.html"
}
---
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Store Locator</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
                var initMapsFunctions = [];
                var initMaps = function(noKey) {
                    for (i = 0; i < initMapsFunctions.length; i++) {
                        initMapsFunctions[i](noKey);
                    }
                }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZNQlSlEIkFAct5VzUtsP4dSbvOr2bE18&libraries=places&callback=initMaps"></script>
    </head>
    <body>
        <script src="main.js"></script>
        <div class="flex min-h-screen w-full">
            {{>sidebar}}
            <div class="w-full">
                {{>nav}}
                {{!-- <div class="centered-container"> --}}
                <div class="container">
                    <style>
                        @media screen and (min-width: 1536px) {
                            .container {
                                max-width: 100%;
                            }
                        }
                        .c-address-country-name.c-address-country-US {
                           display: none; 
                        }

                        .lp-param-results.lp-subparam-getDirectionsLabel {
                            font-weight: bold;
                        }
                    </style>
                    {{>locator}}
                </div>

            </div>
        </div>

    </body>
</html>