---
{
    "urlFormat" : "locator.html"
}
---
<html>
    <head>
        <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="ie=edge" />
            <title>Store Locator</title>
            <script src="main.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZNQlSlEIkFAct5VzUtsP4dSbvOr2bE18&libraries=places&callback=initMaps "></script>
            <script>
					var initMapsFunctions = [];
					var initMaps = function(noKey) {
						for (i = 0; i < initMapsFunctions.length; i++) {
							initMapsFunctions[i](noKey);
						}
					}
			</script>
            <style>
                .error-text {
                padding-bottom: 10px;
                color: red;
                }

                #map {
                background-color: #e9ecef;
                flex-grow: 1;
                width: 100%;

                }
                .search-center {
                margin-top: 1rem;
                }

                .directions {
                margin-bottom: 0.5rem;
                display: flex;
                justify-content: space-between;
                }

                .header-section {
                padding: 1rem;
                border-bottom: 1px solid #e9ecef;
                }

                .result {
                padding: 1rem;
                border-bottom: 1px solid #e9ecef;
                display: flex;
                justify-content: space-between;
                }
                .right-column {
                display: flex;
                align-items: center;
                }

                .center-column {
                flex-grow: 1;
                }

                .name {
                font-weight: bold;
                }

                .left-column {
                width: 2em;
                }

                .panel {
                display: flex;
                flex-direction: column;
                background-color: white;
                width: 500px;
                overflow: hidden;
                }

                .result-list {
                    overflow-x: hidden;
                }

                .search-bar {
                display: flex;
                }

                .search {
                margin-left: 0.5rem;
                }

                .header {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
                }

                .full-width-locator {
                width: 100%;
                display: flex;
                }

                .spinner {
                margin: 2rem 0;
                min-height: 40px;
                }

            
            </style>
    </head>
    <body>
        <div class="flex min-h-screen w-full">
            {{>sidebar}}
            <div class="w-full">
                {{>nav}}
                <div class="container">
                    {{>locator}}
                </div>

            </div>
        </div>

    </body>
</html>