---
{
    "stream": {
        "$id": "sites-locations",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name", 
            "address", 
            "accessHours",
            "c_features",
            "frequentlyAskedQuestions",
            "mainPhone",
            "geocodedCoordinate",
            "hours" ,
            "services",
            "description", 
            "slug",
            "neighborhood",
            "photoGallery",
            "c_heroImagePage",
            "c_otherImagesPage",
            "c_crossStreets",
            "c_locationNickname",
            "c_pageTextBlockTitleH3",
            "c_pageTextBlockText",
            "c_otherNeighborhoodsTitle",
            "c_bookATourLink"
        ], 
        "filter" : {
            "entityTypes": [
                "location"
            ]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html>
    <head>
        {{>head }}
        <title>{{name}} - {{neighborhood}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/favicon-32x32.png"/>
    </head>
    <body>      
        <div class="flex min-h-screen w-full"> 
            {{>sidebar}}
            <div class="w-full">
                {{>nav}}                            
                <div class="centered-container">                                              
                    {{>backtolocator}}
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 space-x-4">
                        <div class="lg:col-span-2">
                            {{> locationdetails}}  
                            <div class="section units-table">
                                {{>units}}
                            </div>                        
                        </div>
                        <div>
                            <div class="mb-4 w-full">{{>staticmap geocodedCoordinate}}</div>
                            <div class="pb-10 hidden md:block">{{>carousel}}</div>                                        
                            <div class="space-y-6">
                                {{>bookATour c_bookATourLink}}
                                {{>featurelist c_features}}
                            </div> 
                        </div>
                    </div>
                    <div class="section">{{>reviews}}</div> 
                    <div class="section">{{>nearby geocodedCoordinate}}</div>
                    <div class="section">{{>pageTextBlock}}</div>
                    <div class="section">{{>faqs frequentlyAskedQuestions}}</div>    
                    
                </div>
                <div class="w-full"> {{>footer}} </div>
            </div>
        </div>        
    </body> 
</html>