---
{
    "stream": {
        "$id": "sites-neighborhoods",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name", 
            "address", 
            "hours",
            "slug",
            "mainPhone",
            "frequentlyAskedQuestions",
            "photoGallery",
            "videos",
            "accessHours",
            "c_pageName",
            "c_pageSubtitleH2",
            "c_pageTextBlockText",
            "c_pageTextBlockTitleH3",
            "c_relatedLocations",
            "c_relatedLocations.c_locationNickname",
            "c_relatedLocations.address",
            "c_relatedLocations.mainPhone",
            "c_relatedLocations.c_heroImagePage",
            "c_relatedLocations.c_limitedAvailability",
            "c_relatedLocations.websiteUrl"
        ], 
        "filter" : {
            "entityTypes": [
                "ce_neighborhood"
            ]
        }
    },
    "urlFormat": "neighborhoods/{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="../main.js" async></script>
        <link rel="stylesheet" href="../main.css" />
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        async
        defer
        ></script>

        <title>{{name}}</title>
        {{>schema}}
        <link rel="shortcut icon" type="image/jpg" href="/images/favicon-32x32.png"/>
    </head>
    <body>      
        <div class="flex min-h-screen w-full"> 
            {{>sidebar}}
            <div class="w-full">
                {{>nav}}                            
                <div class="container mx-auto max-w-screen-xl space-y-10">
                    {{>backtolocator}}  
                    <div>
                        {{>neighborhood-details}}   
                    </div>  
                    <div class="bg-gradient-to-r from-gray-100 to-blue-100">
                        {{>relatedLocations}}   
                    </div>
                    <div class="bg-white">
                        {{>whyLL}}
                    </div>                                   
                </div>
                <div class="w-full"> {{>footer}} </div>
            </div>
        </div>  
        {{!-- {{>bodyTag}}       --}}
    </body> 
</html>